{{ section 'content'}}
  <h1>Dear {{username}}</h1>
  <h3>
    We detected an attempt to sign up using your email, 
    <br>
    if you are responsible for it verify   your account, <br>
    by clicking this link below<br>
  </h3>
  <a href="{{link}}">Verify Your Account</a>
  <br>
  else ignore this email<br>
  <footer>
   <h5>This email was sent by MYSPACE+++</h5>
  </footer>
{{/section}}